# Configuración de Usuario
UID=1000
GID=1000

# MLflow
MLFLOW_PORT=5000
MLFLOW_DATA_DIR=./mlflow_data
MLFLOW_ARTIFACTS=/mlflow/artifacts

# MLflow Backend Store (Conexión a Postgres)
# Formato: postgresql://[USER]:[PASSWORD]@[DB_SERVICE_NAME]:[PORT]/[DB_NAME]
MLFLOW_DB=postgresql://mlflow_user:mlflow_pass@db_mlflow:5432/mlflow_db

# PostgreSQL (Variables para el contenedor de la base de datos)
POSTGRES_USER=mlflow_postgres_user
POSTGRES_PASSWORD=mlflow_postgres_password
POSTGRES_DB=mlflow_postgres_db